<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>专家信息登记</title>
		<script src='../js/jquery-2.1.3.min.js'></script>
		<script language='javascript' src='../libs/getBase64PDF.js'></script>
		<script language='javascript' src='../js/html2canvas.js'></script>
		<script language='javascript'>
			function getP()
			{
				getPDF($('#can'), 200, 0);
			}
		</script>
		<style>
			table {
				border: 1px #DDD solid;
			}
			td {
				border: 1px #DDD solid;
			}
			.btn {
				color: #FFF;
				cursor: pointer;
				padding: 10px;
				background-color: #5690F1;
				border-radius: 10px;
				width: 150px;
				display: inline-block;
				border: 0px;
			}
			#main, #can {
				width: 1000px;
				margin: auto;
			}
		</style>
	</head>
	<body>
		<h1 style="text-align: center;">辽宁省高校科技项目评估专家信息采集表</h1>
		<form action='expert.php' method='post' enctype="multipart/form-data" onsubmit='return check();'>
		<div id='can'>
		学校:	
		<select name='school'>
				<foreach name='school' item='v'>
					<option value="{$v['name']}">{$v['name']}</option>
				</foreach>
		</select>
		<table width='1000' border='1'>
			<table width='1000' border='1'>
				<tr>
					<td>姓名</td>
					<td><input name='name' type='text'></input></td>
					<td>出生年月</td>
					<td><input name='birthday' type='text'></input></td>
					<td>民族</td>
					<td><input name='nation' type='text'></input></td>
					<!--TODO-->
					<td rowspan='5'>
					<?php
						if (isset($_GET['user_id']))
							echo '<img src="../uploads/'.$_GET['user_id'].'.png" width="80" height="110" />';
					?>
					(一寸照片)<br /><input type='file' name='pic' /></td>
				</tr>
				<tr>
					<td>性别</td>
					<td><input name='sex' type='text'></input></td>
					<td>政治面貌</td>
					<td><input name='what' type='text'></input></td>
					<td>行政职务</td>
					<td><input name='job' type='text'></input></td>
				</tr>
				<tr>
					<td>职称</td>
					<td><input name='job_name' type='text'></input></td>
					<td>教授级别<br>(2，3，4级)</td>
					<td><input name='job_level' type='text'></input></td>
					<td>人才层次</td>
					<td><input name='job_what' type='text'></input></td>
				</tr>
				<tr>
					<td>办公电话</td>
					<td><input name='tele' type='text'></input></td>
					<td>手机号码</td>
					<td><input name='cell' type='text'></input></td>
				</tr>
				<tr>
					<td>最后学历</td>
					<td><input name='last_a' type='text'></input></td>
					<td>最后学位</td>
					<td><input name='last_b' type='text'></input></td>
					<td>担任导师<br>(硕/博)</td>
					<td><input name='last_c' type='text'></input></td>
				</tr>
				<tr>
					<td>工作单位</td>
					<td><input name='for' type='text'></input></td>
				</tr>
				<tr>
					<td>通讯地址</td>
					<td><input name='addr' type='text'></input></td>
					<td>邮政编码</td>
					<td><input name='code' type='text'></input></td>
				</tr>
				<tr>
					<td>电子邮箱</td>
					<td><input name='email' type='text'></input></td>
					<td>二级学科</td>
					<td><input name='sub' type='text'></input></td>
				</tr>
			</table>
			<table width='1000'border='1'>
				<tr>
					<td>所属技术领域</td>
					<td>
						<input value='1' type='radio' name='area'>装备制造</input>
						<input value='2' type='radio' name='area'>新材料</input>
						<input value='3' type='radio' name='area'>新能源</input>
						<input value='4' type='radio' name='area'>信息技术</input>
						<input value='5' type='radio' name='area'>生物医药</input>
						<input value='6' type='radio' name='area'>节能环保</input>
						<input value='7' type='radio' name='area'>海洋科技</input>
						<input value='8' type='radio' name='area'>现代农业</input>
						<input value='9' type='radio' name='area'>其他</input>
					</td>
				</tr>
				<tr>
					<td>服务产业链</td>
					<td>
						<input value='1' type='radio' name='service'>高档数控机床及自动化生产线</input>
						<input value='2' type='radio' name='service'>核电装备</input>
						<input value='3' type='radio' name='service'>特高压输变电设备</input>
						<input value='4' type='radio' name='service'>轨道交通设备</input>
						<input value='5' type='radio' name='service'>工程机械</input>
						<input value='6' type='radio' name='service'>工业机器人与专业机器人</input>
						<input value='7' type='radio' name='service'>IC设备</input>
						<input value='8' type='radio' name='service'>新一代信息技术</input>
						<input value='9' type='radio' name='service'>激光科技</input>
						<input value='10' type='radio' name='service'>海洋工程装备</input>
						<input value='11' type='radio' name='service'>风电装备</input>
						<input value='12' type='radio' name='service'>新能源汽车</input>
						<input value='13' type='radio' name='service'>航空装备</input>
						<input value='14' type='radio' name='service'>生物医药</input>
						<input value='15' type='radio' name='service'>节能环保</input>
						<input value='16' type='radio' name='service'>海洋资源利用</input>
						<input value='17' type='radio' name='service'>农业种子</input>
						<input value='18' type='radio' name='service'>其他</input>
					</td>
				</tr>
			</table>
			<table width='1000'border='1'>
				<tr>
					<td rowspan='5'>近5年承担主要纵向、横向课题情况</td>
					<td>项目名称</td>
					<td>批准单位</td>
					<td>批准时间</td>
					<td>排名</td>
				</tr>
				<tr>
					<td><input name='work[0][0]' type='text'></input></td>
					<td><input name='work[0][1]' type='text'></input></td>
					<td><input name='work[0][2]' type='text'></input></td>
					<td><input name='work[0][3]' type='text'></input></td>
				</tr>
				<tr>		
					<td><input name='work[1][0]' type='text'></input></td>
					<td><input name='work[1][1]' type='text'></input></td>
					<td><input name='work[1][2]' type='text'></input></td>
					<td><input name='work[1][3]' type='text'></input></td>
				</tr>
				<tr>
					<td><input name='work[2][0]' type='text'></input></td>
					<td><input name='work[2][1]' type='text'></input></td>
					<td><input name='work[2][2]' type='text'></input></td>
					<td><input name='work[2][3]' type='text'></input></td>
				</tr>
				<tr>
					<td><input name='work[3][0]' type='text'></input></td>
					<td><input name='work[3][1]' type='text'></input></td>
					<td><input name='work[3][2]' type='text'></input></td>
					<td><input name='work[3][3]' type='text'></input></td>
				</tr>
				<tr>
					<td>近5年主要科技成果及获奖</td>
					<td><input name='rise' type='text'></input></td>
				</tr>
			</table>
		</table><br /><br />
		</div>
		<center>
		<div class='btn' onclick='getP();'>下载</div>
		&nbsp;&nbsp|&nbsp;&nbsp;
		<div class='btn' onclick='$("#main").slideDown();'>修改</div><br /><br />
		</center>
		<div id='main' style='display: none;'>
			<center><br />
				(以下信息为修改凭证,首次填写自动创建账号)<br /><br />
				身份证号:	<input type='text' name='user_id' /><br /><br />
				登录密码:	<input type='password' name='user_pw' /><br /><br /><br />
				<input name='submit' class='btn' type='submit' value='我确认数据无误,提交' />
			</center>
		</div>
		</form>
		<script language="javascript">
			Array.prototype.indexOf = function(val) {
				for (var i = 0; i < this.length; i++) {
					if (this[i] == val) return i;
				}
				return -1;
			};
			Array.prototype.remove = function(val) {
				var index = this.indexOf(val);
				if (index > -1) {
					this.splice(index, 1);
				}
			};
			function check()
			{
				var keys = [
				'name',
				'birthday',
				'nation',
				'sex',
				'what',
				'job',
				'job_name',
				'job_level',
				'job_what',
				'tele',
				'cell',
				'last_a',
				'last_b',
				'last_c',
				'for',
				'addr',
				'code',
				'email',
				'sub',
				'area',
				'service',
				'rise',
				'user_id',
				'user_pw'
				];
				var words = {
				'name' : '姓名',
				'birthday' : '出生年月',
				'nation' : '民族',
				'sex' : '性别',
				'what' : '政治面貌',
				'job' : '行政职务',
				'job_name' : '职称',
				'job_level' : '教授级别',
				'job_what' : '人才层次',
				'tele' : '办公电话',
				'cell' : '手机号码',
				'last_a' : '最后学历',
				'last_b' : '最后学位',
				'last_c' : '担任导师',
				'for' : '工作单位',
				'addr' : '通讯地址',
				'code' : '邮政编码',
				'email' : '电子邮箱',
				'sub' : '二级学科',
				'area' : '所属技术领域',
				'service' : '服务产业链',
				'rise' : '近五年获奖',
				'user_id' : '身份证号',
				'user_pw' : '登录密码'
				};
				var fields = $("input").serializeArray();
				var ret = true;
				for (var i=0;i<keys.length;++i)
					for (var j=0;j<fields.length;++j)
					{
						if (keys[i] == fields[j].name)
						{
							console.log(keys[i] + ":" + fields[j].value);
							if (fields[j].value == "")
								ret = false;
							else
								keys.remove(fields[j].name);
						}
					}
				console.log(keys);
				console.log(ret);
				if (keys.length != 0)
					ret = false;
				if (!ret)
				{
					var str = '以下项目未填写,请填写!\n';
					for (var i=0;i<keys.length;++i)
						str += words[keys[i]] + '\n';
					alert(str);
					return false;
				}
			}
		</script>
		<?php
			echo $addition;
		?>
	</body>
</html>
